.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

html, body {
  background-color: #121212;
  color: #e5e2e1;
}

.avatar-frame {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
}
